.form_div{
    display:flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    align-self: center;
}
.table{
   width: 60%;
    margin-top: 20px;
    display: grid; 
    box-sizing: border-box;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr;    
    gap: 1px;
    height: 100%;
    border-top: 1px solid black;
    border-left: 1px solid black;

}
.table > div {
    padding: 15px;  
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}



.tablecel{
   
    overflow-x: hidden;
}

button{
    margin-top: 20px;
    width: 150px;
    background: radial-gradient(circle, rgba(110,214,110,1) 6%, rgba(25,129,48,1) 57%, rgba(6,145,22,1) 92%);
    border-radius: 30px;
    padding: 5px;
    font-weight: bold;
    color: black;
    border-color: transparent;
}

.errordiv{
color: red;
height: 30px;
margin-top: -30px;
}
.inputfield{
    margin-bottom: 30px;
    max-width: 300px;
}
.form_textarea {
    min-width: 60%;
   min-height: 150px;
}
@media (max-width: 600px) {
    .table{
        width: 100%;
         margin-top: 20px;
         display: grid; 
         box-sizing: border-box;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         grid-template-columns: 1fr ;    
         gap: 1px;
         height: 100%;
         border-top: 1px solid black;
         border-left: 1px solid black;
     
     }

}